<!doctype html>
<html lang="en">
<% const title = "About service";%>
<% include partials/head %>
<body>
<div class="indexbg">
    <% include partials/header %>
    <div id="aboutblock">
        <div class="container">
            <div id="usersheader">
                <h1>sikorskyPhoto</h1>
            </div>
            <div class="bioblock">
                <strong>sikorskyPhoto</strong> - sikorskyPhoto is a service that allows you to save and edit your photos. Upload photos from your computer, share pictures with your friends and colleagues.
                </div>
        </div>
    </div>
    <div class="bottom">
        <a href="/gallery">To gallery</a>
    </div>
</div>
</body>
</html>