<!doctype html>
<html lang="en">
<% const title = "sikorskyPhotos";%>
<% include partials/head %>
<body>

<div class="bg">
  <div class="indexblock">
    <div class="container">
      <h1 class="mainlogo">sikorskyPhotos</h1>
      <p>Download and save images. Share pictures with your friends or colleagues</p>
      <div class="buttons">
        <a class="button" href="/gallery">Go to gallery</a>
        <a class="button" href="/users">Users</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <a id="aboutbutton" href="/about">about sikorskyPhotos</a>
  </div>
</div>
</body>
</html>
