<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>sikorskyPhotos</title>
    <meta name="author" content="MY NAME">
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
<div class="indexbg">
    <div id="registerblock">
        <div class="container">
            <h1 class="mainlogo">sikorskyPhotos</h1>
            <p>Fill in all required fields</p>
            <form action="" class="forms" method="post">Повне ім'я:<br>
                <label>
                    <input type="text" class="textbox" name="fullname" required="required">
                </label><br>
                Login:<br>
                <label>
                    <input type="text" class="textbox" name="login" required="required">
                </label><br>
                Bio:<br>
                <label>
                    <input type="text" class="textbox" name="bio" required="required">
                </label><br>
                Password:<br>
                <label>
                    <input type="password" class="textbox" name="password" required="required">
                </label><br>
                Repeat password:<br>
                <label>
                    <input type="password" class="textbox" name="confirmPassword" required="required">
                </label><br>
                <div class="buttons">
                    <input class="button" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
        <a class="regbutton" href="/auth/login">Log in</a>
    </div>
</div>
</body>
</html>
